.header{

		color: red;
		display: flex;
		justify-content: flex-end;
}

body {
		font-family:'Roboto',arial,sans-serif;
}


.button1{
		background-color: #469AE6;
		border: none;
		border-radius: 2px;
		color: white;
		font-family:'Roboto',arial,sans-serif;
		font-weight: bold;
		padding: 7px 13.5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 4px 2px;
		/*cursor: pointer;*/
}

.button2 {

		display: flex;
		justify-content: center;
		border: 1px solid black;
		width: 200px;
}

.button3 {

		display: flex;
		justify-content: center;
		border: 1px solid black;
		width: 200px;
}

.button {
		display: flex;
		justify-content: center;

}

.bar{

		display: flex;
		justify-content: center;
}



.googleimg {
		display: flex;
		justify-content: center;
}


.footer{

		color: red;
		display: flex;
		justify-content: flex-end;
}